.footer {
    background-color: #f5f5f5;
}

button {
    cursor: pointer;
    cursor: hand;
}
/* Change cursor default behaviour */
.basket-setting {
    float: right;
    color: crimson;
    font-weight: bold;
    font-size: 120%;
}
